  <div class="well well-xs">
    <p>Anexos</p>
    <div class="btn-group" ng-if="cotacao.caminho_estudo_temp">
      <a href="{{ '../' + cotacao.caminho_estudo_temp }}" class="btn btn-primary btn-sm" target="_blank">
        <b>Projeto Técnico</b>
      </a>
      <button ng-if="permissions.specials.indexOf('substituirPropostas') != -1" 
              type="button" 
              class="btn btn-primary dropdown-toggle btn-sm" 
              data-toggle="dropdown" 
              aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href ng-file-select ng-file-change="uploadEstudo($files, 'estudo_tecnico')">Novo arquivo</a></li>
      </ul>
    </div>

    <div class="btn-group" ng-if="cotacao.caminho_planilha_solicitacao_dados">
      <a href="{{ '../' + cotacao.caminho_planilha_solicitacao_dados }}" class="btn btn-primary btn-sm" target="_blank">
        <b>Planilha de Solicitação</b>
      </a>
      <button ng-if="permissions.specials.indexOf('substituirPropostas') != -1" 
              type="button" 
              class="btn btn-primary dropdown-toggle btn-sm" 
              data-toggle="dropdown" 
              aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href ng-file-select ng-file-change="uploadEstudo($files, 'planilha_solicitacao')">Novo arquivo</a></li>
      </ul>
    </div>
  </div>

  <div class="row" ng-if="actions && !isEmptyObject(actions) && permissions[currentState] && !hideActionBar">
    <hr>
    <h4 class="lead">Painel de Ações</h4>
    <div class="well well-xs">
      <button bindonce ng-repeat="(k,v) in actions" 
              class="btn btn-sm" 
              bo-class="v.class" 
              style="margin-left:1px; margin-right:1px;" 
              ng-click="completeAction(cotacao, k)" 
              ng-if='v.show'>
                <span bo-bind="v.actionName"></span>
      </button>
    </div>
  </div>
  <div>
    
    <div class="row" ng-if="emailLog">
      <hr>
      <h4 class="lead">Destinatários do email desta cotação</h4>
      <div class="col-lg-12">
        <p ng-repeat="p in emailLog">
          <span class="ion-email"></span> {{ p.email }}
        </p>
      </div>
    </div>

    <div class="row">
      <hr>
      <h4 class="lead">Histórico ({{ cotacoesHistorico.length || cotacoesHistorioRef.length}} revisões)</h4>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default" ng-repeat="cotacaoHistorico in cotacoesHistorico">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#{{ cotacaoHistorico.id_historico }}" onclick="return false;">
                <b>{{ status_pretty_name[cotacaoHistorico.status] }}</b>
              </a>
              <span class="pull-right">{{ cotacaoHistorico.historico_criado_em | date:"dd/MM/yyyy '&nbsp;&nbsp;&nbsp;&nbsp;' h:mma" }}</span>
            </h4>
          </div>
          <div id="{{ cotacaoHistorico.id_historico }}" class="panel-collapse collapse" style="padding: 0px 25px;">
            <div class="row">
              <h4 class="lead">Informações Gerais</h4>
              <div>
                <div class="col-lg-4">
                  <p><b>Produto</b>: {{ cotacaoHistorico.tecnologia }}</p>
                  <p><b>Degrau</b>: {{ cotacaoHistorico.degrau }}</p>
                  <p><b>FAC/AC</b>: {{ cotacaoHistorico.ac }}</p>
                  <p><b>Tipo de Acesso</b>: {{ cotacaoHistorico.tipo_acesso }}</p>
                  <p ng-if="cotacaoHistorico.flag_segmento == '#PEDADOS'"><b>Tipo de Acesso</b>: {{ cotacaoHistorico.tipo_acesso }}</p>
                  <p ng-if="cotacaoHistorico.flag_segmento != '#PEDADOS'"><br /></p>
                  <p><b>GN</b>: {{ cotacaoHistorico.gn_nome }}</p>
                </div>
                <div class="col-lg-4">
                  <p><b>Prazo</b>: {{ cotacaoHistorico.prazo }} anos</p>
                  <p><b>Região</b>: {{ cotacaoHistorico.regiao }}</p>
                  <p><b>ID Cliente</b>: {{ cotacaoHistorico.id_cliente }}</p>
                  <p><b>Solicitado em</b>: {{ cotacaoHistorico.solicitado_em | formatedDate }}</p>
                  <p><b>Upgrade</b>: {{ cotacaoHistorico.flag_upgrade ? 'Sim' : 'Não' }}</p>
                </div>
                <div class="col-lg-4">
                  <p><b>Velocidade de Acesso</b>: {{ cotacaoHistorico.vel_acesso }}</p>
                  <p><b>Velocidade de Banda</b>: {{ cotacaoHistorico.vel_banda }}</p>
                  <p ng-if="cotacaoHistorico.flag_segmento=='#PEDADOS'"><b>Acesso = Banda</b>: {{ ['Não', 'Sim'][cotacaoHistorico.acesso_igual_banda] }}</p>
                  <p ng-if="cotacaoHistorico.flag_segmento!='#PEDADOS'"><br /></p>
                  <p><b>Prazo entrega</b>: {{ cotacaoHistorico.prazo_entrega ? (cotacaoHistorico.prazo_entrega + ' dias') : '' }}</p>
                  <p><b>Modificado por</b>: {{ cotacaoHistorico.modificado_por }}</p>
                </div>
              </div>
              <br/>
              <div class="row">
                  <div class="col-lg-12">
                    <table class="table table-striped">
                      <tr>
                        <th>Estudos</th>
                        <th>ID</th>
                        <th>Solicitado</th>
                        <th>Respondido</th>
                        <th>CAPEX</th>
                        <th>SLA</th>
                      </tr>
                      <tr>
                        <td><b>WCD</b></td>
                        <td><a href="#" editable-text="cotacaoHistorico.id_wcd" onbeforesave="updateCotacao($data, 'id_wcd')">{{ cotacaoHistorico.id_wcd_estudo || "sem info" }}</a></td>
                        <td>{{ cotacaoHistorico.wcd_solicitado_em  | date:"dd/MM/yyyy"}}</td>
                        <td>{{ cotacaoHistorico.wcd_respondido_em  | date:"dd/MM/yyyy" }}</td>
                        <td><a href="#" editable-text="cotacaoHistorico.wcd_capex" onbeforesave="updateCotacao($data, 'wcd_capex')">{{ cotacaoHistorico.wcd_capex || "sem info" }}</a></td>
                        <td><a href="#" editable-text="cotacaoHistorico.wcd_sla" onbeforesave="updateCotacao($data, 'wcd_sla')">{{ cotacaoHistorico.wcd_sla || "sem info" }}</a></td>
                      </tr>
                      <tr>
                        <td><b>SCD</b></td>
                        <td><a href="#" editable-text="cotacaoHistorico.id_scd" onbeforesave="updateCotacao($data, 'id_scd')">{{ cotacaoHistorico.id_scd || "sem info" }}</a></td>
                        <td>{{ cotacaoHistorico.scd_solicitado_em  | date:"dd/MM/yyyy" }}</td>
                        <td>{{ cotacaoHistorico.scd_respondido_em  | date:"dd/MM/yyyy" }}</td>
                        <td><a href="#" editable-text="cotacaoHistorico.scd_capex2" onbeforesave="updateCotacao($data, 'scd_capex2')">{{ cotacaoHistorico.scd_capex2 || "sem info" }}</a></td>
                        <td><a href="#" editable-text="cotacaoHistorico.scd_sla" onbeforesave="updateCotacao($data, 'scd_sla')">{{ cotacaoHistorico.scd_sla || "sem info" }}</a></td>
                      </tr>
                      <tr>
                        <td><b>INTEGRA</b></td>
                        <td><a href="#" editable-text="cotacaoHistorico.id_integra" onbeforesave="updateCotacao($data, 'id_integra')">{{ cotacaoHistorico.id_integra || "sem info" }}</a></td>                              
                        <td>{{ cotacaoHistorico.integra_solicitado_em | date:"dd/MM/yyyy"}}</td>                              
                        <td>{{ cotacaoHistorico.integra_respondido_em  | date:"dd/MM/yyyy" }}</td>                              
                        <td></td>                              
                        <td></td>                              
                      </tr>
                    </table>
                  </div>
                </div>

                <br/>
                <br/>
                <br/>


              <div>
                <div class="col-lg-4">
                  <h5>Instalação</h5>
                  <p><b>Instalação Liq.</b>: R$ {{ cotacaoHistorico.instalacao | number: 2 }}</p>
                </div>
                <div class="col-lg-4">
                  <h5>Mensalidade</h5>
                  <p><b>Mensalidade Liq.</b>: R$ {{ cotacaoHistorico.mensalidade | number: 2 }}</p>
                </div>
                <div class="col-lg-4">
                  <h5>Cliente</h5>
                  <p><b>Prospecção</b>: {{ ['Não', 'Sim'][cotacaoHistorico.cliente_prospeccao] }}</p>
                  <p><b>Isenção ICMS</b>: {{ ['Não', 'Sim'][cotacaoHistorico.icms_isencao] }}</p>
                </div>
              </div>
              <br/>
              <br/>

            </div>
            <div class="row" ng-show="cotacaoHistorico.tecnologia=='MPLS'">
              <hr>
              <h4 class="lead">Perfil de Dados</h4>
              <div class="col-lg-3">
                <p><b>Perfil Dados</b>: {{ cotacaoHistorico.perfil_dados }}</p>
              </div>
              <div class="col-lg-3">
                <p><b>Perfil Voz</b>: {{ cotacaoHistorico.perfil_voz }}</p>
              </div>
              <div class="col-lg-3">
                <p><b>Perfil Vídeo</b>: {{ cotacaoHistorico.perfil_video }}</p>
              </div>
              <div class="col-lg-3">
                <p><b>Perfil Dados NP</b>: {{ cotacaoHistorico.perfil_dadosnp }}</p>
              </div>
            </div>
            <div class="row">
              <hr>
              <h4 class="lead">Observações</h4>
              <div class="col-lg-12">
                <p><b>Observação Negociação</b>: <pre>{{ cotacaoHistorico.observacao_negociacao || "sem info" }}</pre></p>
                <p><b>Observação Cotação</b>: <pre>{{ cotacaoHistorico.observacao_cotacao || "sem info"  }}</pre></p>
                <p><b>Motivo de Cancelamento</b>: {{ cotacaoHistorico.motivo_cancelamento }}</p>
                <p><b>Motivo de Inviabilidade</b>: {{ cotacaoHistorico.motivo_inviabilidade }}</p>
                <p><b>Detalhes Cancelamento/Inviabilidade</b>: <pre>{{ cotacaoHistorico.observacao || "sem info"  }}</pre></p>
              </div>
            </div>
            <div class="row">
              <hr>
              <h4 class="lead">Ponta A</h4>
              <div class="col-lg-6">
                <p><b>Logradouro</b>: {{ cotacaoHistorico.pt_a_logradouro }}, {{ cotacaoHistorico.pt_a_numero }}</p>
                <p><b>Complemento</b>: {{ cotacaoHistorico.pt_a_complemento }}</p>
                <p><b>Cidade</b>: {{ cotacaoHistorico.pt_a_cidade }}</p>
              </div>
              <div class="col-lg-3">
                <p><b>Bairro</b>: {{ cotacaoHistorico.pt_a_bairro }}</p>
                <p><b>CEP</b>: {{ cotacaoHistorico.pt_a_cep }}</p>
                <p><b>Estado</b>: {{ cotacaoHistorico.pt_a_estado }}</p>
              </div>
              <div class="col-lg-3">
                <p><b>Latitude</b>: {{ cotacaoHistorico.pt_a_latitude }}</p>  
                <p><b>Longitude</b>: {{ cotacaoHistorico.pt_a_longitude }}</p>  
                <a class="btn btn-warning btn-sm" ng-href="https://www.google.com/maps?q={{cotacaoHistorico.pt_a_latitude}},{{cotacaoHistorico.pt_a_longitude}}" target="_blank"><i class="ion-map" /> <b>Google Maps</b></a>
              </div>
            </div>
            <div class="row" ng-if="cotacaoHistorico.pt_b_logradouro">
              <hr>
              <h4 class="lead">Ponta B</h4>
              <div class="col-lg-6">
                <p><b>Logradouro</b>: {{ cotacaoHistorico.pt_b_logradouro }}, {{ cotacaoHistorico.pt_b_numero }}</p>
                <p><b>Complemento</b>: {{ cotacaoHistorico.pt_b_complemento }}</p>
                <p><b>Cidade</b>: {{ cotacaoHistorico.pt_b_cidade }}</p>
              </div>
              <div class="col-lg-3">
                <p><b>Bairro</b>: {{ cotacaoHistorico.pt_b_bairro }}</p>
                <p><b>CEP</b>: {{ cotacaoHistorico.pt_b_cep }}</p>
                <p><b>Estado</b>: {{ cotacaoHistorico.pt_b_estado }}</p>
              </div>
              <div class="col-lg-3">
                <p><b>Latitude</b>: {{ cotacaoHistorico.pt_b_latitude }}</p>  
                <p><b>Longitude</b>: {{ cotacaoHistorico.pt_b_longitude }}</p>  
                <a class="btn btn-warning btn-sm" ng-href="https://www.google.com/maps?q={{cotacaoHistorico.pt_b_latitude}},{{cotacaoHistorico.pt_b_longitude}}" target="_blank"><i class="ion-map" /> <b>Google Maps</b></a>
              </div>
            </div>
            <div class="row" ng-if="cotacaoHistorico.pt_a_interface">
              <hr>
              <h4 class="lead">Checklist</h4>
              <div>
                <div class="col-lg-6">
                  <p><b>Usuário final</b>: {{ cotacaoHistorico.usuario }}</p>
                </div>
                <div class="col-lg-6">
                  <p><b>MTU</b>: {{ cotacaoHistorico.mtu }}</p>
                </div>
              </div>
              <div>
                <div class="col-lg-3">
                  <h5>Ponta A</h5>
                  <p><b>Interface</b>: {{ cotacaoHistorico.pt_a_interface }}</p>  
                  <p><b>Conector</b>: {{ cotacaoHistorico.pt_a_conector }}</p>  
                  <p><b>Configuração</b>: {{ cotacaoHistorico.pt_a_configuracao }}</p>  
                </div>
                <div class="col-lg-3">
                  <h5>Ponta B</h5>
                  <p><b>Interface</b>: {{ cotacaoHistorico.pt_b_interface }}</p>  
                  <p><b>Conector</b>: {{ cotacaoHistorico.pt_b_conector }}</p>  
                  <p><b>Configuração</b>: {{ cotacaoHistorico.pt_b_configuracao }}</p>
                </div>
                <div class="col-lg-3">
                  <h5>Contato</h5>
                  <p><b>Nome</b>: {{ cotacaoHistorico.contato_nome }}</p>  
                  <p><b>Área</b>: {{ cotacaoHistorico.contato_area }}</p>  
                  <p><b>Telefone</b>: {{ cotacaoHistorico.contato_telefone }}</p>  
                  <p><b>Email</b>: {{ cotacaoHistorico.contato_email }}</p>  
                </div>
                <div class="col-lg-3">
                  <h5>Contato Técnico</h5>
                  <p><b>Nome</b>: {{ cotacaoHistorico.contato_tecnico_nome }}</p>  
                  <p><b>Área</b>: {{ cotacaoHistorico.contato_tecnico_area }}</p>  
                  <p><b>Telefone</b>: {{ cotacaoHistorico.contato_tecnico_telefone }}</p>  
                  <p><b>Email</b>: {{ cotacaoHistorico.contato_tecnico_email }}</p>  
                </div>
              </div>
              <div class="col-lg-12">
                <p><b>Outras Informações</b>: {{ cotacaoHistorico.outras_informacoes }}</p>  
              </div>
            </div>
            <div class="row" ng-if="cotacaoHistorico.pt_a_interface">
              <hr>
              <h4 class="lead">Roteador / BGP</h4>
              <div class="col-lg-6">
                <p><b>Roteador</b>: {{ cotacaoHistorico.roteador }}</p>
              </div>
              <div class="col-lg-6">
                <p><b>BGP</b>: {{ cotacaoHistorico.bgp }}</p>
              </div>
            </div>
            <div class="row">
              <hr>
              <h4 class="lead">Disclaimer</h4>
              <div class="col-lg-12">
                <pre>{{ cotacaoHistorico.disclaimer || "sem info" }}</pre>
              </div>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
