.table-sga {

    th, td {
        text-align: center;
        font-size: 80%; 
        padding: 4px 8px !important;
    }

    th input {
        font-weight: $font-normal;
        margin: 0px -4px !important;
    }

    & > thead {
        & > tr {
            & > th {
                font-weight: $font-bold;
                cursor: pointer;
            }
        }
    }
    & > tbody {
        & > tr {
            & > td {
                line-height: 20px;
                vertical-align: middle;
            }
        }
  }
}

.table-animate.ng-leave {
    -moz-transition: transform 0.8s;
	-webkit-transition: transform 0.8s;
	-ms-transition: transform 0.8s;
	-o-transition: transform 0.8s;
	transition: transform 0.8s;
}

.table-animate.ng-leave-active {
	-moz-transform: scale(0.1);
	-webkit-transform: scale(0.1);
	-ms-transform: scale(0.1);
	-o-transform: scale(0.1);
	transform: scale(0.1);
}

.table-panel {
    height: 295px;
}

.table-id {
    text-align: left !important;
    width: 90px !important
}