<div class="row">
<div class="panel-group">
    <div ba-panel no-padding> 

        <!-- Status Cotações / pré-venda -->
        <div class="col-xs-12 col-sm-12 col-md-12" style="margin: 10px 0px; height: 50px; overflow:scroll">
            
            <label ng-if="vm.createPermission"
                style="display: table-cell"
                class="btn btn-sm btn-default btn-arrow-right"
                ng-click="vm.createOptions()">
                <b>Criar</b>
            </label>

            <label ng-repeat="(state, data) in ::vm.filteredStates"
                id="::state"
                style="display: table-cell"
                class="btn btn-sm btn-status btn-arrow-right"
                ng-class="::data.state_button"
                title="{{ :: data.pretty_name}}"
                ng-model="vm.currentStatus" ng-change="vm.changeStatus()" uib-btn-radio="::state">
                {{ ::data.label }} <span class="badge">{{ vm.statesPool[state] || 0 }}</span>&nbsp;
            </label>

            <!-- Este satus de criarCotacao antes do APrecificar seria utilizado para validar cotações
            inseridas de forma automática -->
            <!-- <label class="btn btn-sm btn-status btn-success btn-arrow-right"
                style="display:table-cell"
                ng-if="vm.userService.checkPermission('cotacoes.esteira.status.criarCotacao')"
                ng-model="vm.currentStatus" ng-change="vm.changeStatus()" uib-btn-radio="'criarCotacao'">
                Validar <span class="badge">{{ vm.states['criarCotacao'].qtd || 0 }}</span>&nbsp;
            </label>            
            <label class="btn btn-sm btn-status btn-info btn-arrow-right"
                style="display:table-cell"
                ng-if="vm.userService.checkPermission('cotacoes.esteira.status.cotacoesAPrecificar')"
                ng-model="vm.currentStatus" ng-change="vm.changeStatus()" uib-btn-radio="'cotacoesAPrecificar'">
                Precificar <span class="badge">{{ vm.states['cotacoesAPrecificar'].qtd || 0 }}</span>&nbsp;
            </label>
            <label class="btn btn-sm btn-status btn-success btn-arrow-right"
                style="display:table-cell"
                ng-if="vm.userService.checkPermission('cotacoes.esteira.status.cotacoesAEnviar')"
                ng-model="vm.currentStatus" ng-change="vm.changeStatus()" uib-btn-radio="'cotacoesAEnviar'">
                Enviar <span class="badge">{{ vm.states['cotacoesAEnviar'].qtd || 0 }}</span>&nbsp;
            </label>
            <label class="btn btn-sm btn-status btn-success btn-arrow-right"
                style="display:table-cell"
                ng-if="vm.userService.checkPermission('cotacoes.esteira.status.cotacoesAAnalisar')"
                ng-model="vm.currentStatus"ng-change="vm.changeStatus()" uib-btn-radio="'cotacoesAAnalisar'">
                Analisar <span class="badge">{{ vm.states['cotacoesAAnalisar'].qtd + +cotacoes_status['cotacoesAAnalisarFSP'].qtd || 0 }}</span>&nbsp;
            </label>
            <label class="btn btn-sm btn-status btn-success btn-arrow-right"
                style="display:table-cell"
                ng-if="vm.userService.checkPermission('cotacoes.esteira.status.cotacoesAAprovar')"
                ng-model="vm.currentStatus" ng-change="vm.changeStatus()" uib-btn-radio="'cotacoesAAprovar'">
                Aprovar <span class="badge">{{ vm.states['cotacoesAAprovar'].qtd || 0 }} </span>&nbsp;
            </label>
            <label class="btn btn-sm btn-status btn-info btn-arrow-right"
                style="display:table-cell"
                ng-if="vm.userService.checkPermission('cotacoes.esteira.status.cotacoesAprovadas')"
                ng-model="vm.currentStatus" ng-change="vm.changeStatus()" uib-btn-radio="'cotacoesAprovadas'">
                Aprovadas <span class="badge">{{ vm.states['cotacoesAprovadas'].qtd || 0 }}</span>&nbsp;
            </label>
            <label class="btn btn-sm btn-status btn-warning btn-arrow-right"
                style="display:table-cell"
                ng-if="vm.userService.checkPermission('cotacoes.esteira.status.cotacoesAAcompanhar')"
                ng-model="vm.currentStatus" ng-change="vm.changeStatus()" uib-btn-radio="'cotacoesAAcompanhar'">
                Acompanhar <span class="badge">{{ vm.states['cotacoesAAcompanhar'].qtd || 0 }}</span>&nbsp;
            </label>
            <label class="btn btn-sm btn-status btn-warning btn-arrow-right"
                style="display:table-cell"
                ng-if="vm.userService.checkPermission('cotacoes.esteira.status.vendasPendentes')"
                ng-model="vm.currentStatus" ng-change="vm.changeStatus()" uib-btn-radio="'vendasPendentes'">
                Pendentes <span class="badge">{{ vm.states['vendasPendentes'].qtd || 0 }}</span>&nbsp;
            </label> -->

            <!-- Status Cancelamento -->
            <!-- <label class="btn btn-sm btn-status btn-warning btn-arrow-right"
                style="display:table-cell"
                ng-if="vm.userService.checkPermission('cotacoes.esteira.status.circuitosACancelar')"
                ng-model="vm.currentStatus" ng-change="vm.changeStatus()" uib-btn-radio="'circuitosACancelar'">
                Cancelar <span class="badge">{{ vm.states['circuitosACancelar'].qtd || 0 }}</span>&nbsp;
            </label>            
            
            <label class="btn btn-sm btn-status btn-danger btn-arrow-right"
                style="display:table-cell"
                ng-if="vm.userService.checkPermission('cotacoes.esteira.status.cotacoesCanceladas')"
                ng-model="vm.currentStatus" ng-change="vm.changeStatus()" uib-btn-radio="'cotacoesCanceladas'">
                Canceladas <span class="badge">{{ vm.states['cotacoesCanceladas'].qtd || 0 }}</span>&nbsp;
            </label>
            <label class="btn btn-sm btn-status btn-danger btn-arrow-right"
                style="display:table-cell"
                ng-if="vm.userService.checkPermission('cotacoes.esteira.status.cotacoesInviaveis')"
                ng-model="vm.currentStatus" ng-change="vm.changeStatus()" uib-btn-radio="'cotacoesInviaveis'">
                Inviáveis <span class="badge">{{ vm.states['cotacoesInviaveis'].qtd || 0 }}</span>&nbsp;
            </label>
            <label class="btn btn-sm btn-status btn-danger btn-arrow-right"
                style="display:table-cell"
                ng-if="vm.userService.checkPermission('cotacoes.esteira.status.cotacoesRecusadas')"
                ng-model="vm.currentStatus" ng-change="vm.changeStatus()" uib-btn-radio="'cotacoesRecusadas'">
                Recusadas <span class="badge">{{ vm.states['cotacoesRecusadas'].qtd || 0 }}</span>&nbsp;
            </label> -->

            <!-- Status Propostas -->
            <!-- <label class="btn btn-sm btn-status btn-info btn-arrow-right"
                style="display:table-cell"
                ng-if="vm.userService.checkPermission('cotacoes.esteira.status.uploadEstudo')"
                ng-model="vm.currentStatus" ng-change="vm.changeStatus()" uib-btn-radio="'uploadEstudo'">
                Estudo <span class="badge">{{ vm.states['uploadEstudo'].qtd || 0 }}</span>&nbsp;
            </label> -->

            <!-- Status Apoio Comercial / Tramitação -->
            <!-- <label class="btn btn-sm btn-status btn-success btn-arrow-right"
                style="display:table-cell"
                ng-if="vm.userService.checkPermission('cotacoes.esteira.status.cadastroOS')"
                ng-model="vm.currentStatus" ng-change="vm.changeStatus()" uib-btn-radio="'cadastroOS'">
                Tramitação <span class="badge">{{ vm.states['cadastroOS'].qtd || 0 }}</span>&nbsp;
            </label>
            <label class="btn btn-sm btn-status btn-info btn-arrow-right"
                style="display:table-cell"
                ng-if="vm.userService.checkPermission('cotacoes.esteira.status.cadastroSISCOM')"
                ng-model="vm.currentStatus" ng-change="vm.changeStatus()" uib-btn-radio="'cadastroSISCOM'">
                Oportunidade <span class="badge">{{ vm.states['cadastroSISCOM'].qtd || 0 }}</span>&nbsp;
            </label>
            <label class="btn btn-sm btn-status btn-success btn-arrow-right"
                style="display:table-cell"
                ng-if="vm.userService.checkPermission('cotacoes.esteira.status.celulaInsercao')"
                ng-model="vm.currentStatus" ng-change="vm.changeStatus()" uib-btn-radio="'celulaInsercao'">
                Validação Vantive <span class="badge">{{ vm.states['celulaInsercao'].qtd || 0 }}</span>&nbsp;
            </label>
            <label class="btn btn-sm btn-status btn-success btn-arrow-right"
                style="display:table-cell"
                ng-if="vm.userService.checkPermission('cotacoes.esteira.status.cadastroVTV')"
                ng-model="vm.currentStatus" ng-change="vm.changeStatus()" uib-btn-radio="'cadastroVTV'">
                Vantive <span class="badge">{{ vm.states['cadastroVTV'].qtd || 0 }}</span>&nbsp;
            </label> -->

            <!-- Status Comercial -->
            <!-- <label class="btn btn-sm btn-status btn-danger btn-arrow-right"
                style="display:table-cell"
                ng-if="vm.userService.checkPermission('cotacoes.esteira.status.pendenciaComercial')"
                ng-model="vm.currentStatus" ng-change="vm.changeStatus()" uib-btn-radio="'pendenciaComercial'">
                Pendências <span class="badge">{{ vm.states['pendenciaComercial'].qtd || 0 }}</span>&nbsp;
            </label> -->

            <!-- Status Pós-venda -->
            <!-- <label class="btn btn-sm btn-status btn-info btn-arrow-right"
                style="display:table-cell"
                ng-if="vm.userService.checkPermission('cotacoes.esteira.status.cadastroWCD')"
                ng-model="vm.currentStatus" ng-change="vm.changeStatus()" uib-btn-radio="'cadastroWCD'">
                Cadastro WCD <span class="badge">{{ vm.states['cadastroWCD'].qtd || 0 }}</span>&nbsp;
            </label> -->

        </div>

    </div>

</div>
</div>
<ui-view></ui-view>