<div class="row">
<div class="panel-group">

    <form editable-form name="editableForm">

    <div ba-panel>
        
        <div class="row">
            <div class="col-xs-3 col-sm-2 col-md-1">
                <label class="btn btn-default pull-left" sga-history-back>Voltar</label>
            </div>
            <div class="col-xs-6 col-sm-8 col-md-10">
                <h3 style="margin: 5px 0px 5px 0px">
                    <b>Circuito:</b> {{ :: vm.cotacao.nome_projeto }}
                    <span sla-badge days="{{ vm.cotacao.atualizado_em | daysDistance }}" sla="vm.sla"></span>
                </h3>
            </div>
            <div class="buttons" ng-if="vm.modificarCotacaoPermission">
                <div class="col-xs-3 col-sm-2 col-md-1" style="text-align: right" ng-if="!editableForm.$visible">
                    <!-- button to show form -->
                    <button type="button" class="btn btn-xs btn-primary" title="Editar cotação" ng-click="editableForm.$show()">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </button>
                </div>
                <!-- buttons to submit / cancel form -->
                <div class="col-xs-3 col-sm-2 col-md-1" style="text-align: right" ng-if="editableForm.$visible">
                    <button type="submit" class="btn btn-xs btn-info" title="Salvar alterações" ng-disabled="editableForm.$waiting">
                        <i class="glyphicon glyphicon-ok"></i>
                    </button>
                    <button type="button" class="btn btn-xs btn-danger" title="Cancelar edição" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div ba-panel
        ba-panel-class="with-scroll horizontal-tabs tabs-panel viewport100">
        <!--ng-swipe-left="vm.activeTab = vm.activeTab+1"
        ng-swipe-right="vm.activeTab = vm.activeTab-1"-->

        <uib-tabset active="vm.activeTab">    
            
        <uib-tab index="1" deselect="vm.checkIsOnEdit($event, $selectedIndex)" heading="Geral">

            <br/>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 text-left">
                    <sga-label-data ld-label="Cotação N°." ld-data="{{ :: vm.cotacao.id }}"/>
                    <sga-label-data ld-label="Cliente" ld-data="{{ :: vm.cotacao.cliente }}"/>
                    <sga-label-data ld-label="Razão Social" ld-data="{{ :: vm.cotacao.razao_social }}"/>
                    <sga-label-data ld-label="Status" ld-data="{{ :: vm.stateMachine.pretty_name }}"/>
                    <sga-label-data ng-if="!vm.upgradePermission"
                                ld-label="Upgrade"
                                ld-bool-data="{{ vm.cotacao.flag_upgrade  }}"/>
                    <sga-switch-data ng-if="vm.upgradePermission"
                                sd-label="Upgrade"
                                sd-data="vm.cotacao.flag_upgrade"
                                sd-style="info"
                                sd-on-value='1'
                                sd-off-value='0'/>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 text-left">
                    <sga-label-data ld-label="GN" ld-data="{{ :: vm.cotacao.gn_nome }}" ld-hyper-link="mailto:{{ vm.cotacao.gn_email }}"/>
                    <sga-label-data ld-label="Solicitado em" ld-data="{{ :: vm.cotacao.solicitado_em | date:'dd-MMM-yyyy'}}"/>
                    <sga-label-data ld-label="Última modificação" ld-data="{{ :: vm.cotacao.atualizado_em | date:'dd-MMM-yyyy'}}"/>
                    <sga-label-data ld-label="Modificado por" ld-data="{{ :: vm.usuario.nome }}" ld-hyper-link="mailto:{{ vm.usuario.contato }}"/>
                    <sga-label-data ng-if="!vm.upgradePermission"
                                ld-label="Tramitar pelo Integra"
                                ld-bool-data="{{ vm.cotacao.flag_tramitar_integra }}"/>
                    <sga-switch-data ng-if="vm.upgradePermission"
                                sd-label="Tramitar pelo Integra"
                                sd-data="vm.cotacao.flag_tramitar_integra"
                                sd-style="info"
                                sd-on-value='1'
                                sd-off-value='0'/>
                </div>
                
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <sga-thermometer-slider
                        disable="!vm.upgradeThermometerPermission"
                        label="Termômetro de venda:"
                        temperature="vm.cotacao.termometro">
                    </sga-thermometer-slider>
                </div>
            </div>
        
            <hr>
            <div class="well well-xs">
                <span ng-if="vm.cotacao.proposta_id">
                    <a ui-sref="app.propostas.cotacao({ id: vm.cotacao.proposta_id })" class="btn btn-primary btn-sm">
                        <b>Proposta: {{ :: vm.cotacao.proposta_id }}</b>
                    </a>
                </span>
                <span ng-if="vm.cotacao.projeto_id">
                    <a ui-sref="app.projetos.projeto({ id: vm.cotacao.projeto_id })" class="btn btn-primary btn-sm">
                        <b>Projeto: {{ :: vm.cotacao.projeto_id }}</b>
                    </a>
                </span>
                <span class="{{ (vm.cotacao.projeto_id || vm.cotacao.proposta_id) ? '' : 'clearfix' }}">
                    <button class="btn btn-default btn-sm pull-right" ng-click="copiarTemplate(vm.cotacao)">
                        <i class="ion-refresh"></i>Criar cotação similar
                    </button>
                </span>
            </div>

            <span ng-if="vm.cotacao.id_cot_ref || vm.cotacao.id_vtv_ref">
                <hr>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="alert bg-info">
                        <h5 style="margin: 0px">
                            Cotação de upgrade referente
                            <span ng-if="vm.cotacao.id_cot_ref">à cotação <a ui-sref="app.cotacoes.cotacao({ id: vm.cotacao.id_cot_ref })">{{ :: vm.cotacao.id_cot_ref}}</a></span>
                            <span ng-if="vm.cotacao.id_vtv_ref">ao id vantive {{ :: vm.cotacao.id_vtv_ref }}</span>
                        </h5>
                        </div>
                    </div>
                </div>
            </span>

            <span ng-if="vm.cotacao.observacao_apoio">
                <hr>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="alert bg-warning">
                            <h4>Pendência Comercial: <small>{{ :: vm.cotacao.motivo_recusa_apoio }}</small></h4>
                            <pre style="background: none; border: none;">{{ :: vm.cotacao.observacao_apoio }}</pre>
                        </div>
                    </div>
                </div>
            </span>

            <span ng-if="vm.cotacao.observacao_pendencia">
                <hr>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="alert bg-success">
                            <h4>Solução da Pendência Comercial: <small>{{ :: vm.cotacao.motivo_recusa_apoio }}</small></h4>
                            <pre style="background: none; border: none;">{{ :: vm.cotacao.observacao_pendencia }}</pre>
                        </div>
                    </div>
                </div>
            </span>

            <span ng-if="vm.cotacao.status == 'vendasPendentes'">
                <hr>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="alert bg-warning">
                            <h4>Pendência para geração de proposta</h4>
                            <pre style="background: none; border: none;">{{ :: vm.cotacao.observacao }}</pre>
                        </div>
                    </div>
                </div>
            </span>

            <span ng-if="vm.cotacao.motivo_cancelamento || vm.cotacao.motivo_inviabilidade">
                <hr>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="alert bg-info">
                            <h4>Motivo cancelamento/inviabilidade: <small>{{ :: vm.cotacao.motivo_cancelamento }} / {{ vm.cotacao.motivo_inviabilidade }}</small></h4>
                            <pre style="background: none; border: none;">{{ :: vm.cotacao.observacao }}</pre>
                        </div>
                    </div>
                </div>
            </span>

        </uib-tab>

        <uib-tab index="2" deselect="vm.checkIsOnEdit($event, $selectedIndex)" heading="Produto">
        
                <br/>
                <h4>Informações Gerais</h4>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 text-left">
                        <sga-label-data ld-label="Tecnologia" ld-editable-text="vm.cotacao.tecnologia" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                        <sga-label-data ld-label="Degrau" ld-editable-text="vm.cotacao.degrau" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                        <sga-label-data ld-label="Região" ld-data="{{ vm.cotacao.regiao }}"/>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-4 text-left">
                        <sga-label-data ld-label="Velocidade de Acesso" ld-editable-text="vm.cotacao.vel_acesso" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                        <sga-label-data ld-label="Velocidade de Banda" ld-editable-text="vm.cotacao.vel_banda" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                        <sga-label-data ld-label="Prazo" ld-editable-text="vm.cotacao.prazo" ld-info="{{ vm.cotacao.prazo > 1 ? ' anos' : ' ano'}}" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-4 text-left">
                        <sga-label-data ld-label="Disponibilidade" ld-editable-text="vm.cotacao.disponibilidade" ld-filter="number:2" ld-info="%" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                        <sga-label-data ld-label="Prazo entrega" ld-editable-text="vm.cotacao.prazo_entrega" ld-info="{{ vm.cotacao.prazo_entrega > 1 ? ' dias' : ' dia'}}" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                    </div>

                </div>

                <hr>
                <h4>Roteador / BGP</h4>
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3 text-left">
                        <sga-label-data ld-label="Roteador" ld-data="{{ :: vm.cotacao.roteador }}"/>
                    </div>

                    <div class="col-xs-12 col-sm-3 col-md-3 text-left">
                        <sga-label-data ld-label="BGP" ld-data="{{ :: vm.cotacao.bgp }}"/>
                    </div>
                </div>

                <span ng-if="vm.cotacao.flag_segmento == '#PEDADOS'">
                    <hr>
                    <h4>Produtos de Dados</h4>
                    <div class="row">

                        <div class="col-xs-12 col-sm-4 col-md-4 text-left">
                            <sga-label-data ld-label="Tipo de Acesso" ld-data="{{ :: vm.cotacao.tipo_acesso }}"/>
                            <sga-label-data ld-label="Acesso = Banda" ld-bool-data="{{ :: vm.cotacao.acesso_igual_banda }}"/>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-4 text-left">
                            <sga-label-data ld-label="Configurações Roteador" ld-data="{{ :: vm.cotacao.configuracoes_roteador }}"/>
                            <sga-label-data ld-label="Placa Fast Ethernet" ld-data="{{ :: vm.cotacao.roteador_fastethernet }}"/>
                            <sga-label-data ld-label="Interfacoes Disponíveis" ld-data="{{ :: vm.cotacao.interfaces_disponiveis }}"/>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-4 text-left">
                            <sga-label-data ld-label="Flat/On-demand" ld-data="{{ :: vm.cotacao.flat_on_demand }}"/>
                            <sga-label-data ld-label="Tipo de uso IP" ld-data="{{ :: vm.cotacao.tipo_uso_ip }}"/>
                            <sga-label-data ld-label="Domínio IP" ld-data="{{ :: vm.cotacao.dominio_ip }}"/>
                        </div>                


                    </div>
                </span>

                <span ng-if="vm.cotacao.tecnologia=='MPLS'">
                    <hr>
                    <h4>QoS - Perfil de Dados</h4>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="alert bg-warning">
                                <pre style="background: none; border: none;"
                                    ng-hide="vm.cotacao.perfil_dados === (vm.cotacao.perfil_platino + vm.cotacao.perfil_gold + vm.cotacao.perfil_silver)">
                                    O valor para os perfis <b>Platino, Gold e Silver</b> devem ser iguais ao valor associado para o perfil de Dados. <br/> <i>  ex: DADOS = 80% então Platino = 30%, Gold = 30% e Silver = 20%<b> **Valores somente de exemplo</b></i>
                                </pre>
                            </div>
                        </div>
                    </div>

                    <div class="well well-xs">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 text-left">
                            <sga-label-data ld-label="Dados" ld-editable-text="vm.cotacao.perfil_dados"
                                ld-edit-permission="{{vm.modificarCotacaoPermission && vm.cotacao.perfil_dados !== (vm.cotacao.perfil_platino + vm.cotacao.perfil_gold + vm.cotacao.perfil_silver)}}"
                            />
                            <sga-label-data ld-label="Banda" ld-data="{{ vm.cotacao.perfil_dados | conformTokbps:vm.cotacao.vel_banda:vm.cotacao.perfil_dados | number: 0}} Kbps"/>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 text-left">
                            <sga-label-data ld-label="Voz" ld-editable-text="vm.cotacao.perfil_voz" ld-filter="number:2" ld-info="%" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                            <sga-label-data ld-label="Banda" ld-data="{{ vm.cotacao.perfil_voz | conformTokbps:vm.cotacao.vel_banda:vm.cotacao.perfil_voz | number: 0}} Kbps"/>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 text-left">
                            <sga-label-data ld-label="Vídeo" ld-editable-text="vm.cotacao.perfil_video" ld-filter="number:2" ld-info="%" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                            <sga-label-data ld-label="Banda" ld-data="{{ vm.cotacao.perfil_video | conformTokbps:vm.cotacao.vel_banda:vm.cotacao.perfil_video | number: 0}} Kbps"/>
                        </div>
                    </div>
                    </div>

                    <div class="well well-xs">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 text-left">
                            <sga-label-data ld-label="Platino" ld-editable-text="vm.cotacao.perfil_platino" ld-filter="number:2" ld-info="%" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                            <sga-label-data ld-label="Banda" ld-data="{{ vm.cotacao.perfil_platino | conformTokbps:vm.cotacao.vel_banda:vm.cotacao.perfil_platino | number: 0}} Kbps"/>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 text-left">
                            <sga-label-data ld-label="Gold" ld-editable-text="vm.cotacao.perfil_gold" ld-filter="number:2" ld-info="%" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                            <sga-label-data ld-label="Banda" ld-data="{{ vm.cotacao.perfil_gold | conformTokbps:vm.cotacao.vel_banda:vm.cotacao.perfil_gold | number: 0}} Kbps"/>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 text-left">
                            <sga-label-data ld-label="Silver" ld-editable-text="vm.cotacao.perfil_silver" ld-filter="number:2" ld-info="%" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                            <sga-label-data ld-label="Banda" ld-data="{{ vm.cotacao.perfil_silver | conformTokbps:vm.cotacao.vel_banda:vm.cotacao.perfil_silver | number: 0}} Kbps"/>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 text-left">
                            <sga-label-data ld-label="Bronze" ld-editable-text="vm.cotacao.perfil_dadosnp" ld-filter="number:2" ld-info="%" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                            <sga-label-data ld-label="Banda" ld-data="{{ vm.cotacao.perfil_dadosnp | conformTokbps:vm.cotacao.vel_banda:vm.cotacao.perfil_dadosnp | number: 0}} Kbps"/>
                        </div>
                    </div>
                    </div>
                </span>

        </uib-tab>

        <uib-tab index="3" deselect="vm.checkIsOnEdit($event, $selectedIndex)" heading="Estudos">
            
            <br/>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12" >
                    <table class="table table-striped" >
                        <tr>
                            <th>Estudo</th>
                            <th>ID</th>
                            <th>Solicitado</th>
                            <th>Respondido</th>
                            <th>CAPEX</th>
                            <th>SLA</th>
                        </tr>
                        <tr>
                            <td style="text-align: left"><b>WCD EV</b></td>
                            <td><sga-label-data ld-editable-text="vm.cotacao.id_wcd_estudo" ld-edit-permission="{{vm.modificarEstudosPermission}}"/></td>
                            <td><sga-label-data ld-editable-date="vm.cotacao.wcd_estudo_solicitado_em" ld-edit-permission="{{vm.modificarEstudosPermission}}"/></td>
                            <td><sga-label-data ld-editable-date="vm.cotacao.wcd_estudo_respondido_em" ld-edit-permission="{{vm.modificarEstudosPermission}}"/></td>
                            <td><sga-label-data ld-editable-text="vm.cotacao.wcd_capex" ld-filter="currency" ld-edit-permission="{{vm.modificarEstudosPermission}}"/></td>
                            <td><sga-label-data ld-editable-text="vm.cotacao.wcd_sla" ld-info="%" ld-edit-permission="{{vm.modificarEstudosPermission}}"/></td>
                        </tr>
                        <tr>
                            <td style="text-align: left"><b>SCD</b></td>
                            <td><sga-label-data ld-editable-text="vm.cotacao.id_scd" ld-edit-permission="{{vm.modificarEstudosPermission}}"/></td>
                            <td><sga-label-data ld-editable-date="vm.cotacao.scd_solicitado_em" ld-edit-permission="{{vm.modificarEstudosPermission}}"/></td>
                            <td><sga-label-data ld-editable-date="vm.cotacao.scd_respondido_em" ld-edit-permission="{{vm.modificarEstudosPermission}}"/></td>
                            <td><sga-label-data ld-editable-text="vm.cotacao.scd_capex2" ld-filter="currency" ld-edit-permission="{{vm.modificarEstudosPermission}}"/></td>
                            <td><sga-label-data ld-editable-text="vm.cotacao.scd_sla" ld-info="%" ld-edit-permission="{{vm.modificarEstudosPermission}}"/></td>
                        </tr>
                        <tr>
                            <td style="text-align: left"><b>INTEGRA</b></td>
                            <td><sga-label-data ld-editable-text="vm.cotacao.id_integra" ld-edit-permission="{{vm.modificarEstudosPermission}}"/></td>
                            <td><sga-label-data ld-editable-date="vm.cotacao.integra_solicitado_em" ld-edit-permission="{{vm.modificarEstudosPermission}}"/></td>
                            <td><sga-label-data ld-editable-date="vm.cotacao.integra_respondido_em" ld-edit-permission="{{vm.modificarEstudosPermission}}"/></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>

        </uib-tab>

        <uib-tab index="4" deselect="vm.checkIsOnEdit($event, $selectedIndex)" heading="Sistemas">

            <br/>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12" >
                    <table class="table table-striped">
                        <tr>
                            <th style="text-align: center!important; font-weight: bold">LP A</th>
                            <th style="text-align: center!important; font-weight: bold">LP B</th>
                            <th style="text-align: center!important; font-weight: bold">OS A</th>
                            <th style="text-align: center!important; font-weight: bold">OS B</th>
                        </tr>
                        <tr>
                            <td style="text-align: center!important"><sga-label-data ld-editable-text="vm.cotacao.nr_lp_a"/></td>
                            <td style="text-align: center!important"><sga-label-data ld-editable-text="vm.cotacao.nr_lp_b"/></td>
                            <td style="text-align: center!important"><sga-label-data ld-editable-text="vm.cotacao.nr_os_a"/></td>
                            <td style="text-align: center!important"><sga-label-data ld-editable-text="vm.cotacao.nr_os_b"/></td>
                        </tr>
                    </table>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12" >
                    <table class="table table-striped" >
                        <tr>
                            <th style="text-align: center!important; font-weight: bold">No. Vantive</th>
                            <th style="text-align: center!important; font-weight: bold">Pré Vantive</th>
                            <th style="text-align: center!important; font-weight: bold">SISCOM</th>
                            <th style="text-align: center!important; font-weight: bold">GS</th>
                            <th style="text-align: center!important; font-weight: bold">NRC</th>
                        </tr>
                        <tr>
                            <td style="text-align: center!important">
                                <a href="#" editable-text="vm.cotacao.id_vtv">
                                    {{ vm.cotacao.id_vtv || "sem info" }}
                                </a>
                            </td>
                            <td style="text-align: center!important">
                                <a href="#" editable-text="vm.cotacao.nr_pre_vtv">
                                    {{ vm.cotacao.nr_pre_vtv || "sem info" }}
                                </a>
                            </td>
                            <td style="text-align: center!important">
                                <a href="#" editable-text="vm.cotacao.nr_siscom">
                                    {{ vm.cotacao.nr_siscom || "sem info" }}
                                </a>
                            </td>
                            <td style="text-align: center!important">
                                <a href="#" editable-text="vm.cotacao.nr_gs">
                                    {{ vm.cotacao.nr_gs || "sem info" }}
                                </a>
                            </td>
                            <td style="text-align: center!important">
                                <a href="#" editable-text="vm.cotacao.nrc">
                                    {{ vm.cotacao.nrc || "sem info" }}
                                </a>
                            </td>                        
                        </tr>
                    </table>
                </div>
            </div>

        </uib-tab>

        <uib-tab index="5" deselect="vm.checkIsOnEdit($event, $selectedIndex)" heading="Anexos">

            <br/>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="well well-xs">
                        <p>Anexos</p>
                        <div class="btn-group" ng-if="vm.cotacao.caminho_estudo_temp">
                        <a href="{{ '../' + vm.cotacao.caminho_estudo_temp }}" class="btn btn-primary btn-sm" target="_blank">
                            <b>Projeto Técnico</b>
                        </a>
                        <button ng-if="permissions.specials.indexOf('substituirPropostas') != -1" 
                                type="button" 
                                class="btn btn-primary dropdown-toggle btn-sm" 
                                data-toggle="dropdown" 
                                aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href ng-file-select ng-file-change="uploadEstudo($files, 'estudo_tecnico')">Novo arquivo</a></li>
                        </ul>
                        </div>

                        <div class="btn-group" ng-if="vm.cotacao.caminho_planilha_solicitacao_dados">
                        <a href="{{ '../' + vm.cotacao.caminho_planilha_solicitacao_dados }}" class="btn btn-primary btn-sm" target="_blank">
                            <b>Planilha de Solicitação</b>
                        </a>
                        <button ng-if="permissions.specials.indexOf('substituirPropostas') != -1" 
                                type="button" 
                                class="btn btn-primary dropdown-toggle btn-sm" 
                                data-toggle="dropdown" 
                                aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href ng-file-select ng-file-change="uploadEstudo($files, 'planilha_solicitacao')">Novo arquivo</a></li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>

        </uib-tab>

        <uib-tab index="6" deselect="vm.checkIsOnEdit($event, $selectedIndex)" heading="Faturamento">

            <br/>
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3 text-left">
                    <sga-label-data ld-label="Instalação Liq." ld-editable-text="vm.cotacao.instalacao" ld-filter="currency" ld-edit-permission="{{vm.modificarPrecosPermission}}"/>
                    <sga-label-data ld-label="Instalação Bruta" ld-editable-text="vm.cotacao.instalacao_bruto" ld-filter="currency" ld-edit-permission="{{vm.modificarPrecosPermission}}"/>
                </div>

                <div class="col-xs-12 col-sm-3 col-md-3 text-left">
                    <sga-label-data ld-label="Mensalidade Atual Liq." ld-editable-text="vm.cotacao.mensalidade_atual" ld-filter="currency" ld-edit-permission="{{vm.modificarPrecosPermission}}"/>
                    <sga-label-data ld-label="Mensalidade Liq." ld-editable-text="vm.cotacao.mensalidade" ld-filter="currency" ld-edit-permission="{{vm.modificarPrecosPermission}}"/>
                    <sga-label-data ld-label="Mensalidade Bruta" ld-editable-text="vm.cotacao.mensalidade_bruto" ld-filter="currency" ld-edit-permission="{{vm.modificarPrecosPermission}}"/>
                </div>

                <div class="col-xs-12 col-sm-3 col-md-3 text-left">
                    <sga-label-data ng-if="!vm.modificarPrecosPermission"
                                ld-label="Isenção ICMS"
                                ld-bool-data="{{ vm.cotacao.icms_isencao }}"/>
                    <sga-switch-data ng-if="vm.modificarPrecosPermission"
                                sd-label="Isenção ICMS"
                                sd-data="vm.cotacao.icms_isencao"
                                sd-style="info"
                                sd-on-value='1'
                                sd-off-value='0'/>
                    <sga-label-data ld-label="Prospecção" ld-bool-data="{{ vm.cotacao.cliente_prospeccao }}"/>
                    <sga-label-data ld-label="FAC/AC" ld-data="{{ :: vm.cotacao.ac}}"/>
                </div>

                <div class="col-xs-12 col-sm-3 col-md-3 text-left">
                    <sga-label-data ld-label="Ciclo faturamento" ld-data="{{ :: vm.cotacao.ciclo_faturamento }}"/>
                    <sga-label-data ld-label="Agrupador" ld-data="{{ :: vm.cotacao.nr_agrupador }}"/>
                    <sga-label-data ld-label="Lote bancário" ld-data="{{ :: vm.cotacao.lote_bancario }}"/>
                    <sga-label-data ld-label="Tipo de fatura"
                        ld-data="{{ ((vm.cotacao.tipo_fatura | bitwiseAnd : 1) ? 'Impressa / ' : '') +
                                    ((vm.cotacao.tipo_fatura | bitwiseAnd : 2) ? 'Magnética / ' : '') +
                                    ((vm.cotacao.tipo_fatura | bitwiseAnd : 4) ? 'Agrupador' : '')}}"/>
                </div>
            </div>

        </uib-tab>

        <uib-tab index="7" deselect="vm.checkIsOnEdit($event, $selectedIndex)" heading="Observações">

            <br/>
            <div class="row">        
                <div class="col-xs-12 col-sm-12 col-md-12">

                    <p><b>Observação Cotação</b></p>
                    <a href="#" editable-textarea="vm.cotacao.observacao_cotacao" e-rows="7" e-cols="120">
                        <pre class="alert-info">{{ vm.cotacao.observacao_cotacao || "sem info" }}</pre>
                    </a>

                    <p ng-if="vm.modificarCotacaoPermission"><b>Observação Precificação</b></p>
                    <a ng-if="vm.modificarCotacaoPermission" href="#" editable-textarea="vm.cotacao.observacao_precificacao" e-rows="7" e-cols="120">
                        <pre class="alert-info">{{ vm.cotacao.observacao_precificacao || "sem info" }}</pre>
                    </a>

                    <p><b>Observação Negociação</b></p>
                    <a href="#" editable-textarea="vm.cotacao.observacao_negociacao" e-rows="7" e-cols="120">
                        <pre class="alert-info" >{{ vm.cotacao.observacao_negociacao || "sem info" }}</pre>
                    </a>

                    <p ng-if="vm.modificarCotacaoPermission"><b>Outras Informações</b></p>
                    <a ng-if="vm.modificarCotacaoPermission" href="#" editable-textarea="vm.cotacao.outras_informacoes" e-rows="7" e-cols="120">
                        <pre class="alert-info">{{ vm.cotacao.outras_informacoes || "sem info" }}</pre>
                    </a>

                    <p ng-if="vm.modificarCotacaoPermission"><b>Disclaimer</b></p>
                    <a ng-if="vm.modificarCotacaoPermission" href="#" editable-textarea="vm.cotacao.disclaimer" e-rows="7" e-cols="120">
                        <pre class="alert-info">{{ vm.cotacao.disclaimer || "sem info" }}</pre>
                    </a>
                </div>
            </div>
            
        </uib-tab>

        <uib-tab index="8" select="vm.initializeMaps()" deselect="vm.checkIsOnEdit($event, $selectedIndex)" heading="Ponta-a-Ponta">

            <br/>
            <div class="col-xs-12 col-sm-6 col-md-6 text-left">
                <h4>Ponta A</h4>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-left">
                        <sga-label-data ld-label="Endereço puro" ld-editable-text="vm.cotacao.pt_a_endereco_puro" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 text-left">
                        <sga-label-data ld-label="Logradouro" ld-editable-text="vm.cotacao.pt_a_logradouro" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                        <sga-label-data ld-label="Número" ld-editable-text="vm.cotacao.pt_a_numero" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                        <sga-label-data ld-label="Complemento" ld-editable-text="vm.cotacao.pt_a_complemento" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                        <sga-label-data ld-label="CEP" ld-editable-text="vm.cotacao.pt_a_cep" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 text-left">
                        <sga-label-data ld-label="Bairro" ld-editable-text="vm.cotacao.pt_a_bairro" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                        <sga-label-data ld-label="Cidade" ld-editable-text="vm.cotacao.pt_a_cidade" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                        <sga-label-data ld-label="Estado" ld-editable-text="vm.cotacao.pt_a_estado" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>                    
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 text-left">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 text-left">
                                <sga-label-data ld-label="Latitude" ld-data="{{vm.cotacao.pt_a_latitude}}"/>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 text-left">
                                <sga-label-data ld-label="Longitude" ld-data="{{vm.cotacao.pt_a_longitude}}"/>
                            </div>
                        </div>
                        <ng-map id="pontaAMap" zoom="15" style="height:300px"></ng-map>
                    </div>
                </div>
            </div>

            <div ng-if="vm.cotacao.pt_b_logradouro" class="col-xs-12 col-sm-6 col-md-6 text-left">
                <h4>Ponta B</h4>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-left">
                        <sga-label-data ld-label="Endereço puro" ld-editable-text="vm.cotacao.pt_b_endereco_puro" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 text-left">
                        <sga-label-data ld-label="Logradouro" ld-editable-text="vm.cotacao.pt_b_logradouro" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                        <sga-label-data ld-label="Número" ld-editable-text="vm.cotacao.pt_b_numero" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                        <sga-label-data ld-label="Complemento" ld-editable-text="vm.cotacao.pt_b_complemento" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                        <sga-label-data ld-label="CEP" ld-editable-text="vm.cotacao.pt_b_cep" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 text-left">
                        <sga-label-data ld-label="Bairro" ld-editable-text="vm.cotacao.pt_b_bairro" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                        <sga-label-data ld-label="Cidade" ld-editable-text="vm.cotacao.pt_b_cidade" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                        <sga-label-data ld-label="Estado" ld-editable-text="vm.cotacao.pt_b_estado" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>                    
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 text-left">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 text-left">
                                <sga-label-data ld-label="Latitude" ld-data="{{vm.cotacao.pt_b_latitude}}"/>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 text-left">
                                <sga-label-data ld-label="Longitude" ld-data="{{vm.cotacao.pt_b_longitude}}"/>
                            </div>
                        </div>
                        <ng-map id="pontaBMap" zoom="15" style="height:300px"></ng-map>                    
                    </div>
                </div>
            </div>
        </uib-tab>

        <uib-tab index="9" deselect="vm.checkIsOnEdit($event, $selectedIndex)" heading="Cheklist">

            <br/>
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3 text-left">
                    <h4>Ponta A</h4>
                    <sga-label-data ld-label="Interface" ld-editable-text="vm.cotacao.pt_a_interface" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                    <sga-label-data ld-label="Conector" ld-editable-text="vm.cotacao.pt_a_conector" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                    <sga-label-data ld-label="Configuração" ld-editable-text="vm.cotacao.pt_a_configuracao" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                </div>

                <div class="col-xs-12 col-sm-3 col-md-3 text-left">
                    <h4>Ponta B</h4>
                    <sga-label-data ld-label="Interface" ld-editable-text="vm.cotacao.pt_b_interface" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                    <sga-label-data ld-label="Conector" ld-editable-text="vm.cotacao.pt_b_conector" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                    <sga-label-data ld-label="Configuração" ld-editable-text="vm.cotacao.pt_b_configuracao" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                </div>

                <div class="col-xs-12 col-sm-3 col-md-3 text-left">
                    <sga-label-data ld-label="LP Concentrador" ld-data="{{ :: vm.servico.lp_a}}"/>
                    <sga-label-data ld-label="ETP Concentrador" ld-data="{{ :: vm.projeto.nr_etp}}"/>
                    <sga-label-data ld-label="WCD Concentrador" ld-data="{{ :: vm.projeto.nr_wcd}}"/>
                    <sga-label-data ld-label="Usuário final" ld-data="{{ :: vm.cotacao.usuario}}"/>
                </div>

                <div class="col-xs-12 col-sm-3 col-md-3 text-left">
                    <sga-label-data ld-label="MTU" ld-data="{{vm.cotacao.mtu}}"/>
                    <sga-label-data ld-label="Modo de Transmissão" ld-data="{{ :: vm.cotacao.modo_transmissao}}"/>
                    <sga-label-data ld-label="Tipo de Transmissão" ld-data="{{ :: vm.cotacao.tipo_transmissao}}"/>
                    <sga-label-data ld-label="Tipo de Configuração" ld-data="{{ :: vm.cotacao.tipo_configuracao}}"/>
                </div>
            </div>

        </uib-tab>

        <uib-tab index="10" deselect="vm.checkIsOnEdit($event, $selectedIndex)" heading="Contatos">

            <br/>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 text-left">
                    <h4>Contato Ponta A</h4>
                    <sga-label-data ld-label="Nome" ld-editable-text="vm.cotacao.contato_nome" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                    <sga-label-data ld-label="Área" ld-editable-text="vm.cotacao.contato_area" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                    <sga-label-data ld-label="Telefone" ld-editable-text="vm.cotacao.contato_telefone" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                    <sga-label-data ld-label="Email" ld-editable-text="vm.cotacao.contato_email" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 text-left">
                    <h4>Contato Ponta B</h4>
                    <sga-label-data ld-label="Nome" ld-editable-text="vm.cotacao.contato_tecnico_nome" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                    <sga-label-data ld-label="Área" ld-editable-text="vm.cotacao.contato_tecnico_area" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                    <sga-label-data ld-label="Telefone" ld-editable-text="vm.cotacao.contato_tecnico_telefone" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                    <sga-label-data ld-label="Email" ld-editable-text="vm.cotacao.contato_tecnico_email" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 text-left">
                    <h4>Contato Comercial</h4>
                    <sga-label-data ld-label="Nome" ld-editable-text="vm.cotacao.contato_comercial_nome" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                    <sga-label-data ld-label="Área" ld-editable-text="vm.cotacao.contato_comercial_area" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                    <sga-label-data ld-label="Telefone" ld-editable-text="vm.cotacao.contato_comercial_telefone" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                    <sga-label-data ld-label="Email" ld-editable-text="vm.cotacao.contato_comercial_email" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                </div>
            </div>
            
        </uib-tab>

        <uib-tab index="11" deselect="vm.checkIsOnEdit($event, $selectedIndex)" heading="Endereços">

            <br/>
            <h4>Endereços de Faturamento</h4>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 text-left">
                    <sga-label-data ld-label="Logradouro" ld-editable-text="vm.cotacao.end_fat_logradouro" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                    <sga-label-data ld-label="Complemento" ld-editable-text="vm.cotacao.end_fat_complemento" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 text-left">
                    <sga-label-data ld-label="Bairro" ld-editable-text="vm.cotacao.end_fat_bairro" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                    <sga-label-data ld-label="CEP" ld-editable-text="vm.cotacao.end_fat_cep" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 text-left">
                    <sga-label-data ld-label="Cidade" ld-editable-text="vm.cotacao.end_fat_cidade" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                    <sga-label-data ld-label="Estado" ld-editable-text="vm.cotacao.end_fat_estado" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                </div>
            </div>

            <hr>
            <h4>Endereços de Cobrança</h4>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 text-left">
                    <sga-label-data ld-label="Logradouro" ld-editable-text="vm.cotacao.end_cob_numero" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                    <sga-label-data ld-label="Complemento" ld-editable-text="vm.cotacao.end_cob_complemento" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 text-left">
                    <sga-label-data ld-label="Bairro" ld-editable-text="vm.cotacao.end_cob_bairro" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                    <sga-label-data ld-label="CEP" ld-editable-text="vm.cotacao.end_cob_cep" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 text-left">
                    <sga-label-data ld-label="Cidade" ld-editable-text="vm.cotacao.end_cob_cidade" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                    <sga-label-data ld-label="Estado" ld-editable-text="vm.cotacao.end_cob_estado" ld-edit-permission="{{vm.modificarCotacaoPermission}}"/>
                </div>
            </div>

        </uib-tab>

        <uib-tab index="12" deselect="vm.checkIsOnEdit($event, $selectedIndex)" heading="Histórico">

            <br/>
            <div class="row">
            </div>

        </uib-tab>

        </uib-tabset>

    </div>

    <div ba-panel ng-if="vm.actionsList && vm.statusPermission">
        <sga-action-button ng-repeat="action in ::vm.actionsList"
                    cotacao="vm.cotacao"
                    action="action"
                    size='sm'
                    title="{{action.context_name}}">
        </sga-action-button>
    </div>

    </form>

</div>
</div>